org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended-anf-code-challenge.config.xml# Configuration created by Apache Sling JCR Installer
operation="add"
aces=["type\=allow;privileges\=jcr:read,jcr:all,rep:write;path\=/content","type\=allow;privileges\=jcr:all,jcr:read,jcr:write,rep:write;path\=/content","type\=allow;privileges\=jcr:read;path\=/apps","type\=allow;privileges\=jcr:read;path\=/conf"]
principalName="anfcodechallengeuser"
type="add"
ensure-immediately=B"true"